<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑文章</title>
</head>
<body>
<h1>编辑文章</h1>
{% if error %}
    <ul style="color:red;list-style: none">
        {% for key,value in error.items %}
            <li style="border-bottom: 1px dashed red">{{ value }}</li>
        {% endfor %}

    </ul>
{% endif %}
<form action="/art/art_edit/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="标题"><br>
    <input type="text" name="author" placeholder="作者"><br>
    <textarea name="summary" cols="30" rows="10">#文章概述</textarea><br>
    <input type="file" name="artImg"><br>
    <select name="tag" id="">
        <option value="">--请选择类型--</option>
        {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.title }}</option>
        {% endfor %}
    </select>
    <button>提交</button>
</form>
</body>
</html>